<form action="/articles" method="POST"> 
<label for="title"> Article Title:</label>
<textarea name="title" col="30" row="10"></textarea>
<label for="content"> Article content:</label>
<textarea name="content" col="30" row="10"></textarea>
<input type="submit">
</form>