<h1>CREATE NEW ARTICLE</h1>
<form action = "/articles" method="POST">
  <input id="title" name="title" type="text">
  <input id="content" name="content" type="text">
  <input id="submit" type="submit">
</form>