<h1><%= @article.title %></h1>
<p><%= @article.content %></p>
<br>
<p>If you wish to delete this article, click delete. Beware this action cannot be undone.</p>
<form method="POST" action="/articles/<%= @article.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete" id=-"delete>
</form>